

<div class="container">
<%= link_to "Back", properties_path, html_options = {class: 'back-link '}  %>
<div class="property-h"><%= @property.name %></div>
<div class="row property">
<div class="col-sm-8">
    <% if @property.picture.present? %>
            <img src='/uploads/<%= @property.picture %>' class="img-fluid m-auto property-photo" />

    <% end %>
    <div class="property-desc"><%= @property.description %></div>

  <div id="map" class="property-map"></div> </div>
<div class="col-sm-4 property-features">
<div class="">
<%= link_to "Edit", edit_property_path(@property), html_options = {class: 'float-right btn btn-secondary'}  %>
<div class="h3">Location</div>
<p><%= raw property_location(@property) %></p>

<div class="h3">Contact</div>
<p><strong>Phone</strong> <%= @property.phone_number %></p>
<p><strong>Sales Email</strong> <%= @property.sales_email %></p>
<p><strong>Reservation Email</strong> <%= @property.reservation_email %></p>

<div class="h3">Amenities</div>
<p><%= simple_format(@property.amenities) %></p>

<div class="h3">Attractions</div>
<p><%= simple_format(@property.attractions) %></p>
</div></div></div></div>

 <script>
      function initMap() {
        var uluru = {lat: <%= @property.latitude %>, lng: <%= @property.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA73CM3rQf3YV6PBbjl7w0OCXGFiergjJM&callback=initMap">
    </script>